<!-- Bootstrap core CSS -->
<link href="__admin__css/bootstrap.min.css" rel="stylesheet">
<link href="__admin__css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="__admin__assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="__admin__assets/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" >
<!--right slidebar-->
<link href="__admin__css/slidebars.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="__admin__css/style.css" rel="stylesheet">
<link href="__admin__css/style-responsive.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
<script src="__admin__js/html5shiv.js"></script>
<script src="__admin__js/respond.min.js"></script>
<![endif]-->